@model IEnumerable<Provider>

<h4>Список поставщиков</h4>

<a asp-controller="Providers" asp-action="Create"><img src="/images/New16.png" /> Добавить</a>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td><a asp-controller="Providers" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать"><img src="/images/Edit16.png" /></a></td>
            <td><a asp-controller="Providers" asp-action="Delete" asp-route-id="@item.Id" title="Удалить"><img src="/images/Delete16.png" /></a></td>
        </tr>
    }
</table>