@model ServiceType

<h6>Вы уверены, что хотите удалить вид услуги "@Model.Name"?</h6>

<form asp-action="Delete">
    <input type="submit" value="Удалить" class="btn btn-danger" />
</form>

<a asp-action="Index">Назад</a>