@model IEnumerable<Street>

<h4>Список улиц</h4>

<a asp-controller="Streets" asp-action="Create" title="Добавить"><img src="/images/New32.png" /></a>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td ><a asp-controller="Streets" asp-action="Edit" asp-route-id="@item.Id" title="Редактировать"><img src="/images/Edit16.png" /></a></td>
            <td><a asp-controller="Streets" asp-action="Delete" asp-route-id="@item.Id" title="Удалить"><img src="/images/Delete16.png" /></a></td>
        </tr>
    }
</table>