@model NormGigacalorie

<h6>Вы уверены, что хотите удалить норматив гигакалорий "@Model.Value" за "@Model.Year" год?</h6>

<form asp-action="Delete">
    <input type="submit" value="Удалить" class="btn btn-primary" />
</form>

<a asp-controller="NormGigacalories" asp-action="Index">Назад</a>