<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body class="card-body">
    <header>
        <h2>Коммунальные услуги</h2>
        <a asp-controller="home" asp-action="index">Home</a> | 
        <a asp-controller="streets" asp-action="index">Улицы</a>
        <hr/>
    </header>

    <div id="main">
        @RenderBody()
    </div>
    <footer>
    </footer>
</body>
</html>
