<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2>Коммунальные услуги</h2>
    </header>
<table cellspacing="20">
    <tr>
        <td>
            <a asp-controller="home" asp-action="index">Home</a>
        </td>
        <td>@RenderBody()</td>
    </tr>
</table>
    <footer>
    </footer>
</body>
</html>
